<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
<form action="/save" th:object="${product}" method="POST" novalidate="novalidate">
    <input type="text" hidden th:field="*{id}">
    <div class="form-group">
        <label for="name">Name Product</label>
        <input type="text" class="form-control" id="name" placeholder="Input Name" th:field="*{name}">
    </div>
    <div class="form-group">
        <label for="price">Price </label>
        <input type="text" class="form-control" id="price" placeholder="Input Price" th:field="*{price}">
    </div>
    <div class="form-group">
        <label for="amount">Amount</label>
        <input type="text" class="form-control" id="amount" placeholder="Input Price" th:field="*{amount}">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Input Price" th:field="*{description}">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
</div>
</body>
</html>