<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
    <meta charset="UTF-8">
    <title>View</title>
</head>
<body>

<div class="container ">
    <h2>View Product</h2>
    <table class="table table-responsive">
        <tr>
            <td> <label >Name Product</label></td>
            <td><label th:text="${product.name}" ></label></td>
        </tr>
        <tr>
            <td> <label >Price</label></td>
            <td><label th:text="${product.price}" ></label></td>
        </tr>
        <tr>
            <td> <label >Amount</label></td>
            <td><label th:text="${product.amount}" ></label></td>
        </tr>
        <tr>
            <td> <label >Description</label></td>
            <td><label th:text="${product.description}" ></label></td>
        </tr>
    </table>
</div>

</body>
</html>