<!DOCTYPE html>
<html lang="en">


<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Product</title>
    <link rel="stylesheet" href="../../../resources/bootstrap/css/bootstrap.min.css">
</head>
<body>

</body>
<script th:fragment="bundle" src="../../../resources/bootstrap/js/bootstrap.bundle.min.js"></script>
<script th:fragment="min" src="../../../resources/bootstrap/js/bootstrap.min.js"></script>
</html>