<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Contract Detail Create</title>
    <link th:replace="~{/common/header::link}">
</head>
<body>

<div class="content">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Create Contract Detail</h4>
                    </div>
                    <div class="card-body">
                        <form th:object="${contractDetailDto}" method="post">
                            <div class="row">
                                <div class="col-md-6 pr-1">
                                    <label> Contract

                                    </label>
                                    <select class="form-control"
                                            th:field="*{contract.id}"     name="idContract">


                                        <option th:each="contract:${contracts}" th:text="${contract.id}"
                                                th:value="${contract.id}"></option>

                                    </select>
                                </div>
                                <div class="col-md-6 pl-1">
                                    <div class="form-group">
                                        <label>Attach Service

                                        </label>
                                        <select class="form-control"
                                                th:field="*{attachService.id}"      name="idAttachService">


                                            <option th:each="attachService:${attachServices}" th:text="${attachService.name}"
                                                    th:value="${attachService.id}"></option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 pr-1">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Quantity</label>
                                            <input type="text" class="form-control" placeholder=""
                                                   th:field="*{quantity}"   name="quantity">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right">Create</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>