body {
    font-family: Verdana, sans-serif;

    font-size: 0.9em;
}

.m{
    box-sizing: border-box;
    height: 100%;
    width: 25%;
    text-align: center;
    padding: 10px;
    background-color: red;
    display: inline-block;
    margin: 0;
    float: left;
}
