
<div class="wrap-contact3">
  <div class="contact3-form validate-form" >
					<span class="contact3-form-title">
						Login
					</span>

    <div class="wrap-input3 validate-input" data-validate="Name is required">
      <input class="input3" type="text" [(ngModel)]="user" name="username" placeholder="Your Name">
      <span class="focus-input3"></span>
    </div>

    <div class="wrap-input3 validate-input" data-validate = "Pass is required">
      <input class="input3" type="password" [(ngModel)]="pass" name="password" placeholder="Your Password">
      <span class="focus-input3"></span>
    </div>


    <div class="wrap-contact3-form-radio">
      <div class="contact3-form-radio m-r-42">
        <input class="input-radio3" id="radio1" type="checkbox" name="remember" value="1">
        <label class="label-radio3" for="radio1">
          Remember me
        </label>
      </div>
    </div>

    <div class="container-contact3-form-btn">
      <button class="contact3-form-btn" (click)="login()">
        Submit
      </button>
    </div>
  </div>
</div>
