<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Product</title>
    <link th:fragment="css" rel="stylesheet"  type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link th:fragment="main" rel="stylesheet"  type="text/css" th:href="@{/bootstrap/css/main.css}">
</head>
<body>

</body>
<script th:fragment="bundle" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:fragment="min" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</html>