<app-header xmlns="http://www.w3.org/1999/html"></app-header>
<div class="container-fluid pt-3">
  <div class="title text-center">
    <h3>Customer</h3>
  </div>
  <div class="row ">
    <div class="mx-auto ">
      <div class="d-grid gap-2 d-md-flex justify-content-md-between my-3">
        <button type="button" (click)="openDialog('create',null)" class="btn btn-outline-secondary"><i
          class="fa fa-plus-circle"></i> Thêm mới
        </button>
        <div class="col-lg-4 col-xl-4 col-sm-8 col-md-4 d-none d-md-flex ">
          <div (keyup)="applyFilter($event)" class="input-group w-100"><input type="text"
                                                                              class="form-control search-form"
                                                                              style="width:55%;" placeholder="Search"
                                                                              name="keyword">
          </div>
        </div>

      </div>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100 table table-striped">
        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-sort-header> ID</th>
          <td *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-sort-header> Name</th>
          <td *matCellDef="let row"> {{row.name}} </td>
        </ng-container>
        <ng-container matColumnDef="birthDay">
          <th *matHeaderCellDef mat-sort-header> Birth Day</th>
          <td *matCellDef="let row"> {{row.birthDay}} </td>
        </ng-container>
        <ng-container matColumnDef="idCard">
          <th *matHeaderCellDef mat-sort-header> ID Card</th>
          <td *matCellDef="let row"> {{row.idCard}}</td>
        </ng-container>
        <ng-container matColumnDef="gender">
          <th *matHeaderCellDef mat-sort-header> gender</th>
          <td *matCellDef="let row"> {{row.gender == 0 ? 'Nam' : 'Nữ' }} </td>
        </ng-container>
        <ng-container matColumnDef="phone">
          <th *matHeaderCellDef mat-sort-header> Phone</th>
          <td *matCellDef="let row"> {{row.phone}}</td>
        </ng-container>
        <ng-container matColumnDef="address">
          <th *matHeaderCellDef mat-sort-header> Name</th>
          <td *matCellDef="let row"> {{row.address}}</td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th *matHeaderCellDef mat-sort-header> Name</th>
          <td *matCellDef="let row"> {{row.email}}</td>
        </ng-container>
        <ng-container matColumnDef="Type Of Customer">
          <th *matHeaderCellDef mat-sort-header> Name</th>
          <td *matCellDef="let row"> {{row.customerType.name}}</td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th *matHeaderCellDef> Action</th>
          <td *matCellDef="let element" class="action-link">
            <a (click)="openDialog('update',element)">Edit</a> |
            <a (click)="openDialog('delete',element)">Delete</a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columndefs"></tr>
        <tr mat-row *matRowDef="let row; columns: columndefs;"></tr>
      </table>
      <div>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</div>
