<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:replace="~{/category/index::link}">
</head>
<body>
<div class="container px-4 py-5 mx-auto">
    <form th:object="${category}" action="/category/save" method="post">
        <input hidden  class="form-control" th:field="*{id}">
    <div class="row d-flex justify-content-center">
        <div class="card col-6">
            <div class="row px-3">
                <div class="flex-column">
                    <label >Name</label>
                    <input  class="form-control" th:field="*{name}">
                </div>
            </div>
            <div>
                <div class="flex-column">
                    <label> Description</label>
                    <input   class="form-control" th:field="*{description}">
                </div>
            </div>
            <div class="row px-3">

                <button type="reset" class="btn btn-danger mr-auto mb-2">Reset</button>
                <button type="submit" class="btn btn-success ml-auto mb-2">Save</button>
            </div>
        </div>
    </div>
    </form>
</div>
</body>
<script th:replace="~{/category/index::script}"></script>
</html>