<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:replace="~{/fragments::link}">
</head>
<body>
<div class="container px-4 py-5 mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="card col-6">
                <div class="row px-3">
                    <div class="row">
                        <p >Author :
                        <span  class="" th:text="${category.id}"></span></p>
                    </div>
                    <div class="row">
                        <p> Topic :
                        <span   class="" th:text="${category.name}"></span></p>
                    </div>
                    <div class="row ">
                        <p> Status :
                        <span   class="" th:text="${category.description}">
                        </span></p>
                    </div>

                </div>
                   </div>
        </div>

</div>
</body>
<script th:replace="~{/fragments::script}"></script>
</html>