
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/bootstrap/css/main.css}">
    <link th:rel="stylesheet" th:href="@{/bootstrap/css/all.css}">
</head>
<body>
<div class="container-fluid mt-100">
    <div class="d-flex flex-wrap justify-content-between">
        <div><a href="/create"> <button type="button" class="btn btn-shadow btn-wide btn-primary"> <span class="btn-icon-wrapper pr-2 opacity-7"> <i class="fa fa-plus fa-w-20"></i> </span> New thread </button> </a></div>
        <div class="col-12 col-md-3 p-0 mb-3"> <input type="text" class="form-control" placeholder="Search..."> </div>
    </div>
    <div class="card mb-3">
        <div class="card-header pl-0 pr-0">
            <div class="row no-gutters w-100 align-items-center">
                <div class="col ml-3">Topics</div>
                <div class="col-3 text-muted">
                    <div class="row no-gutters align-items-center">
                        <div class="col-3">Replies</div>
                        <div class="col-6">Last update</div>
                        <div class="col-3"></div>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:each="b,count:${blogList}">
        <div class="card-body py-3">
            <div class="row no-gutters align-items-center">
                <div class="col"> <a href="javascript:void(0)" th:href="@{/view/{id}(id=${b.id})}"  class="text-big" data-abc="true"><span th:text="${b.title}"></span></a>
                    <div class="text-muted small mt-1"> <a href="javascript:void(0)" class="text-muted" data-abc="true"><span th:text="${b.topic}"></span></a></div>
                </div>
                <div class="d-none d-md-block col-3">
                    <div class="row no-gutters align-items-center">
                        <div class="col-3"><span th:text="${b.status}"></span></div>
                        <div class="media col-6 align-items-center"> <img th:src="@{https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583246/AAA/2.jpg}" alt="" class="d-block ui-w-30 rounded-circle">
                            <div class="media-body flex-truncate ml-2">
                                <div class="line-height-1 text-truncate"><span th:text="${b.createDate}"></span></div> <a href="javascript:void(0)" class="text-muted small text-truncate" data-abc="true">by <span th:text="${b.author}"></span></a>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <div class="col-6"><a th:href="@{/edit/{id}(id=${b.id})}"> <i class="far fa-edit"></i></a></div>
                                <div class="col-6"><a th:href="@{/delete/{id}(id=${b.id})}"><i class="far fa-trash-alt"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </th:block>
    </div>
</div>
</body>
<script th:src="@{bootstrap/js/main.js}"></script>
<script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
</html>