<div class="content">
  <div class="container-fluid">
    <div class="row ">
      <div class="col-md-8 mx-auto">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Edit Patient</h4>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmit()" [formGroup]="form" method="post">
              <div class="row">
                <div class="col-md-8 px-1">
                  <div class="form-group">
                    <label>medicalRecordId </label>
                    <input readonly  type="text" class="form-control" placeholder="medicalRecordId" formControlName="medicalRecordId">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 px-1">
                  <div class="form-group">
                    <label>patient Id </label>
                    <input readonly  type="text" class="form-control" placeholder="patientId" formControlName="patientCode">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 px-1">
                  <div class="form-group">
                    <label>Patient Name </label>
                    <input type="text" class="form-control" placeholder="Description" formControlName="patientName">
                  </div>
                </div>
                <div class="col-md-4 alert  alert-danger text-center" role="alert"
                     *ngIf="form.controls.patientName?.errors && form.controls.patientName.touched"> Patient Name Invalid
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 px-1 ">
                  <div class="form-group">
                    <label>Hospitalized Date</label>
                    <input class="form-control" type="date" id="date-inputa" formControlName="hospitalizedDate">
                  </div>
                </div>
                <div class="alert alert-danger col-md-4 " role="alert"
                     *ngIf="form.controls.hospitalizedDate?.errors && form.controls.hospitalizedDate.touched"> Hospitalized Date Invalid
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 px-1 ">
                  <div class="form-group">
                    <label>Hospital Discharge Date</label>
                    <input class="form-control" type="date" id="date-input" formControlName="hospitalDischargeDate">
                  </div>
                </div>
                <div class="alert alert-danger col-md-4 " role="alert"
                     *ngIf="form.controls.hospitalDischargeDate?.errors && form.controls.hospitalDischargeDate.touched"> Hospital Discharge Date Invalid
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 px-1">
                  <div class="form-group">
                    <label>Reason </label>
                    <input type="text" class="form-control" placeholder="Description" formControlName="reason">
                  </div>
                </div>
                <div class="col-md-4 alert  alert-danger text-center" role="alert"
                     *ngIf="form.controls.reason?.errors && form.controls.reason.touched"> reason Invalid
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 px-1">
                  <div class="form-group">
                    <label>treatments</label>
                    <input type="text" class="form-control" placeholder="Description" formControlName="treatments">
                  </div>
                </div>
                <div class="col-md-4 alert  alert-danger text-center" role="alert"
                     *ngIf="form.controls.treatments?.errors && form.controls.treatments.touched"> treatments Invalid
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 px-1">
                  <div class="form-group">
                    <label>doctor </label>
                    <input type="text" class="form-control" placeholder="Description" formControlName="doctor">
                  </div>
                </div>
                <div class="col-md-4 alert  alert-danger text-center" role="alert"
                     *ngIf="form.controls.doctor?.errors && form.controls.doctor.touched"> Patient Name Invalid
                </div>
              </div>
              <div class="align-content-between">
                <button (click)="backToList()" class="btn btn-info btn-fill pull-left">Back</button>
                <button type="submit" class="btn btn-info btn-fill pull-right">Submit</button>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
