body {
    font-family: Verdana, sans-serif;
    font-size: 0.9em;

}
.logo{
    font-size: 3rem;
    color: #0a53be;
}
.left{

}
nav{
    padding: 0.5rem;
}
nav ul {
    padding: 0;
    position: relative;
    width: 100%;
}

nav ul li {
    display: block ;

}
nav ul li a {
    cursor: pointer;
    color: black;
    display: inline-block;
    border-radius:10px ;
    width: 100%;
    padding-block: 10px;
    padding-left: 20px;


}
nav ul li a:hover {
    cursor: pointer;
    background: #b3b9bf;
    color: white;
}

.right {
}