<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:replace="~{/common/header::link}">
</head>
<body>
<div class="content">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Create Employee</h4>
                    </div>
                    <div class="card-body">
                        <form th:object="${employeeDto}" method="post">
                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="form-group">
                                        <label>Name </label>
                                        <input type="text" class="form-control" placeholder="Name" name="name"
                                               th:field="*{name}">
                                    </div>

                                    <div class=" sticky-top alert error-alert alert-danger  " role="alert"
                                         th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 pr-1">
                                    <label>Position

                                    </label>
                                    <select class="form-control"
                                            th:field="*{position.id}" name="idPosition">

                                        <option th:each="position:${positions}" th:text="${position.name}"
                                                th:value="${position.id}"></option>

                                    </select>
                                </div>
                                <div class="col-md-4 px-1">
                                    <div class="form-group">
                                        <label>Education

                                        </label>
                                        <select class="form-control"
                                                th:field="*{education.id}" name="idEducation">

                                            <option th:each="education:${educations}" th:text="${education.name}"
                                                    th:value="${education.id}"></option>


                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 px-1">
                                    <div class="form-group">
                                        <label>Division

                                        </label>
                                        <select class="form-control"
                                                th:field="*{division.id}" name="idDivision">

                                            <option th:each="division:${divisions}" th:text="${division.name}"
                                                    th:value="${division.id}"></option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label>Date</label>
                                        <input class="form-control" type="date" id="date-input"
                                               th:value="${#temporals.format (employeeDto.birthDay, 'yyyy-MM-dd')}"
                                               name="birthDay"
                                               th:field="*{birthDay}">
                                    </div>
                                    <div class="sticky-top alert error-alert alert-danger   " role="alert"
                                         th:if="${#fields.hasErrors('birthDay')}" th:errors="*{birthDay}"></div>

                                </div>
                                <div class="col-md-4 px-1">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>ID card</label>
                                            <input type="text" class="form-control" placeholder=""
                                                   th:field="*{idCard}" name="idCard">
                                        </div>
                                        <div class=" sticky-top alert error-alert alert-danger  " role="alert"
                                             th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}"></div>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label>Salary</label>
                                        <input type="text" class="form-control" placeholder="Salary"

                                               th:field="*{salary}" name="salary">
                                    </div>
                                    <div class=" sticky-top alert error-alert alert-danger  " role="alert"
                                         th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Address</label>
                                        <input type="text" class="form-control" placeholder=""

                                               th:field="*{address}" name="address">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 pr-1">
                                    <label>Phone</label>
                                    <input type="text" class="form-control" placeholder=""
                                           name="phone"
                                           th:field="*{phone}">
                                    <div class=" sticky-top alert error-alert alert-danger  " role="alert"
                                         th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
                                </div>
                                <div class="col-md-4 px-1">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" class="form-control" placeholder="" value="${employee.email}"
                                               name="email"
                                               th:field="*{email}">

                                    </div>
                                    <div class=" sticky-top alert error-alert alert-danger  " role="alert"
                                         th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                                </div>
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <select class="form-control"
                                                th:field="*{appUser.userId}" name="idDivision">

                                            <option th:each="user:${users}" th:text="${user.userName}"
                                                    th:value="${user.userId}"></option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right">Create</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:replace="~{/common/header::script}"></script>
</html>