<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="/bootstrap-4.6.0-dist/css/bootstrap.css">
    <link rel="stylesheet"  type="text/css" href="/css/all.css">
    <link rel="stylesheet"  type="text/css" href="/css/style.css">
</head>
<body>
<header class="section-header">
    <section class="header-main border-bottom">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-4 col-sm-4 col-md-4 col-5"><a href="#" class="brand-wrap" data-abc="true">
                    <span class="logo">FURAMA</span> </a></div>
                <div class="col-lg-4 col-xl-4 col-sm-8 col-md-4 col-7 ml-auto">
                    <div class="d-flex justify-content-end">

                        <div sec:authorize="isAuthenticated()">
                            <a  class="nav-link widget-header  text-light" th:href="@{/logout}"><span sec:authentication="principal.employee.name"></span></a>
                        </div>
                        <div sec:authorize="isAnonymous()">
                              <a class="nav-link nav-user-img" th:href="@{/login}">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <nav class="navbar navbar-expand-md navbar-main border-bottom shadow ">
        <div class="container-fluid ">
            <form class="d-md-none mt-2 ">
                <div class="input-group"><input type="search" name="search" class="form-control" placeholder="Search"
                                                required="">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-secondary"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#dropdown6"
                    aria-expanded="false"><span class="navbar-toggler-icon"></span></button>
            <div class="navbar-collapse collapse" id="dropdown6" style="">
                <ul class="navbar-nav mx-auto ">
                    <li class="nav-item px-4"><a class="nav-link" href="/home" data-abc="true">Home </a></li>
                    <li class="nav-item px-4"><a class="nav-link" href="/employees" data-abc="true">Employee</a></li>
                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="" data-toggle="dropdown"
                                                     data-abc="true" aria-expanded="false">Customer</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/customers" data-abc="true">List Customer</a>
                            <a class="dropdown-item" href="/customer-view" data-abc="true">Customers are using the
                                service </a>
                        </div>
                    </li>
                    <li class="nav-item px-4"><a class="nav-link" href="/services" data-abc="true">Service</a></li>
                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="" data-toggle="dropdown"
                                                     data-abc="true" aria-expanded="false">Contract</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/contracts" data-abc="true">List Contract</a>
                            <a class="dropdown-item" href="/contract-detail" data-abc="true">Contract Detail</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</body>
<script src="/jquery/jquery-3.6.0.min.js"></script>
<script src="/bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#confirm-delete').on('show.bs.modal', function (e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
            var data = $(e.relatedTarget).data();
            $('.debug-url').text(data.recordTitle);

        })
    });
    setTimeout(function () {
        $('.alert').fadeOut('slow');
    }, 3000);

</script>
</html>