<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <link th:replace="layout::css" >
    <link th:replace="layout::main" >
    <link  rel="stylesheet"  type="text/css" th:href="@{/bootstrap/css/card.css}">
</head>
<body>
<p>
    <a href="/shop">Shop</a>
</p>
<div class="card">

    <div class="row">

        <div class="col-md-8 cart">

            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Shopping Cart</b></h4>
                    </div>
                    <div class="col align-self-center text-right text-muted"><span th:text="|${cart.countItemQuantity()} items|"></span></div>
                </div>
            </div>
            <div class="row border-top border-bottom" th:each="product: ${cart.products}">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/QwIYa8y.jpg"></div>
                    <div class="col">
                        <div class="row text-muted"><span th:text="${product.getKey().name}"></span></div>
                        <div class="row"><span th:text="${product.getKey().description}"></span></div>
                    </div>
                    <div class="col"><a th:href="@{/del/__${product.getKey().id}__(action='show')}"
                                        th:text="${'-'}"></a>
                        <a href="#" class="border"><span th:text="${product.getValue()}"></span></a><a
                                 th:href="@{/add/__${product.getKey().id}__(action='show')}"
                                th:text="${'+'}"></a></div>
                    <div class="col"> <span th:text="${product.getKey().price}" ></span> <a th:href="@{/remove/__${product.getKey().id}__(action='show')}"> <span class="close">&#10005;</span></a></div>
                </div>
            </div>

            <div class="back-to-shop"><a th:href="@{/shop}">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
        </div>
        <div class="col-md-4 summary">
            <div>
                <h5><b>Summary</b></h5>
            </div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;"><span th:text="|${cart.countProductQuantity()} ITEMS|"></span></div>
                <div class="col text-right">&euro; <span th:text="${cart.countTotalPayment()}"></span></div>
            </div>
            <form>
                <p>SHIPPING</p> <select>
                <option class="text-muted">Standard-Delivery- free</option>
            </select>
                <p>GIVE CODE</p> <input id="code" placeholder="Enter your code">
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right">&euro; <span th:text="${cart.countTotalPayment()}"></span></div>
            </div>
            <a  th:href="@{/clearCart}"> <button class="btn">CHECKOUT</button></a>
        </div>

    </div>

</div>


</body>
<script th:replace="layout::bundle"></script>
<script th:replace="layout::min"></script>
</html>