<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:replace="layout::css" >
    <link th:replace="layout::main" >
</head>
<body>
<div class="container mt-5 mb-5 d-flex justify-content-center align-items-center">
    <div class="card">
        <div class="inner-card"> <img src="https://i.imgur.com/QwIYa8y.jpg" class="img-fluid rounded">
            <div class="d-flex justify-content-between align-items-center mt-3 px-2">
                <h4 ><span>ID Product:</span> <span class="text-success" th:text="${product.id}"></span></h4> <span class="heart"><i class="fa fa-heart"></i></span>
            </div>
            <div class="mt-2 px-2"> <small>Price:</small> </div>
            <div class="px-2">
                <h3 th:text="${product.price}"></h3>74
            </div>
            <a th:href="@{/add/__${product.id}__(action='list')}"> <button class="btn btn-outline-primary px-3">Add to cart</button></a> </div>
        </div>
        <div class="inner-card mb-auto">

            <h4 th:text="${product.name}"> </h4>
            <hr>
            <div class="card bg-warning p-2 mt-3 card-2 px-4 text-white py-4">
                <div class="info d-flex justify-content-between align-items-center">
                    <div class="group d-flex flex-column text-white"> <span class="font-weight-bold">Group Homework</span> <small>14 students from your group are online</small> </div> <i class="fa fa-angle-right text-white"></i>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<script th:replace="layout::bundle"></script>
<script th:replace="layout::min"></script>
</html>