<header class="section-header">
  <section class="header-main border-bottom">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-4 col-sm-4 col-md-4 col-5"><a href="#" class="brand-wrap" data-abc="true">
          <span class="logo">EXAM</span> </a></div>
        <div class="col-lg-4 col-xl-4 col-sm-8 col-md-4 col-7 ml-auto">
          <div class="d-flex justify-content-end">

          </div>
        </div>
      </div>
    </div>
  </section>
  <nav class="navbar navbar-expand-md navbar-main border-bottom shadow ">
    <div class="container-fluid ">
      <form class="d-md-none mt-2 ">
        <div class="input-group"><input type="search" name="search" class="form-control" placeholder="Search"
                                        required="">
          <div class="input-group-append">
            <button type="submit" class="btn btn-secondary"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </form>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#dropdown6"
              aria-expanded="false"><span class="navbar-toggler-icon"></span></button>
      <div class="navbar-collapse collapse" id="dropdown6" style="">
        <ul class="navbar-nav mx-auto ">
          <li class="nav-item px-4"><a class="nav-link" routerLink="/home" data-abc="true">Home </a></li>
          <li class="nav-item px-4"><a class="nav-link" routerLink="/patients" data-abc="true">Patient</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
